<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}

    <style>
      .arlo_tm_hero {
        position: relative;
      }
      .header-bar {
        position: absolute;
        border-bottom: 0px solid var(--global-divider-color);
        width: 100%;
        max-width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    </style>

  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}

  <script src="js/jquery.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/init.js"></script>
  <script>
    $(window).on("load", function () {
      $(".preloader").fadeOut(1000);
    });
  </script>
  </body>

</html>
